.config
.config.old
*.o
*bin2c*
*fixdep*
*.zip
*.d
*.cmd
*.log
*.tmp*
modules.*
*.mod.*
*.gz
*.symvers
vmlinux*
*.map
*kallsyms*
*bak/
.vscode/
*.dtbo
*.dtb
AnyKernel3/Image
AnyKernel3/dtb.img
!Kconfig.dtbo
!AnyKernel3/tools/tweaks.zip